.pageValeQuanto {
    background-color: #ece2df;
  }
  
  .titlepage{
    color: #174364;
    font-family: 'Futura', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }

  .buttonsrow{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonsrow>button{
    border-radius: 8px;
    border: 1px solid #326B97;
    background: #FEFEFE;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.25);
    color: #326B97;
    font-family: 'Avenir Next';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .quantovaleinput{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .quantovaleinput>input{
    width: 568px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #8E8E8E;
    background: #FEFEFE;
    text-align: center;
    color: #000;
    font-family: 'Avenir Next';
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }

  
  .cell {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 316px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 13px;
    background: rgba(77, 167, 209, 0.63);
  }
  
  .cell img {
    object-fit: contain;
    margin-top: 8px;
    width: 300px;
    height: 200px;
    flex-shrink: 0;
  }
  
  .cell p {
    color: #132b3d;
    text-align: center;
    font-family: Avenir Next;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }